<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ventum.Nombre %>
</p>

<p>
  <strong>Canpieza:</strong>
  <%= @ventum.CanPieza %>
</p>

<p>
  <strong>Temporada:</strong>
  <%= @ventum.Temporada %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @ventum.Talla %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @ventum.Precio %>
</p>

<p>
  <strong>Estilo:</strong>
  <%= @ventum.Estilo %>
</p>

<%= link_to 'Edit', edit_ventum_path(@ventum) %> |
<%= link_to 'Back', venta_path %>
